body {
	background: #e6e6e6;
}


.bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#container-bar {
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
}