body {
	background: #e6e6e6;
}


.bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#container-bar {
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
}

/* Intro part */

.intro-section {
    width: 100%;
    min-height: 85vh;
    padding: 20px 40px;
    /* border: solid red; */
}

/* Skills section styling */
.skills-section {
    width: 100%;
    min-height: 85vh;
    padding: 20px 100px 0px;
    /* border: solid red; */
}

.skills-heading {
    font-size: 50px;
    background: #252525;
    text-transform: capitalize;
    color: #5a4e4e;
}




/* Project section styling */
.project-section {
	width: 100%;
	min-height: 100vh;
	/* padding: 30px 100px 100px; */
    padding: 0rem 3rem;
    
}

.project-heading {
	font-size: 70px;
	background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #5a4e4e;
	background-clip: text;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: rgb(39, 35, 35);
    /* transition: .5s; */
    /* opacity: 0; */
}

.project-title{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 20px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn{
    height: 35px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

.contact {
    height: 25vh;
    background-color: rgb(99, 91, 91);
}

/* @media screen and (max-width: 768px) {
    .project-container{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
} */